.hp-image {
    max-width: 100%;
    max-height: 100vh;
}

.headline {
    font-size: 3rem;
    font-family: "Palanquin";
    color: #2C00AA;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2rem 0;
}

.lists {
    white-space: nowrap;
    display: inline-block;
    margin-left: 2rem;   
}

.feature-section-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}


.feature-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    text-align: center;
    margin: 1rem;
}

.feature-headers h2,
.feature-section h2 {
    font-size: 1.3rem;
    font-family: "Palanquin";
    color: #2C00AA;
    margin-bottom: 0.5rem;
}

.feature-descriptions p,
.feature-section p {
    font-size: 1rem;
    font-family: "Palanquin";
    color: #2C00AA;
    margin: 0.5rem 0 1rem 0;
    line-height: 1.5;
}

.feature-icons img,
.feature-section img {
    width: 80px;
    height: auto;
    margin-top: 1rem;
}

.tools-icon,
.list-icon,
.reminder-icon {
    display: block;
    margin: 0 auto;
}

.sign-up-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sign-up-button {
    background-color: #2C00AA;
    color: white;
    font-family: "Palanquin";
    font-size: 1rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    text-align: center;
}

.sign-up-button:hover {
    background-color: #24008A;
}
