.single-study-plan-container {
    padding: 20px;
}

.delete-plan-btn {
  background-color: #e74c3c;
  color: white;
  padding: 10px 16px;
  margin-top: 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.delete-plan-btn:hover {
  background-color: #c0392b;
}
