.schedule-list-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.view-schedules-container ul {
    list-style-type: none;
    padding: 0;
}

.view-schedules-container li {
    padding: 10px;
    margin: 5px 0;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

li:hover {
    background-color: #ddd;
}